body{
  background-color: rgb(21, 21, 21);
  color: white;
}
#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}
.header{
  margin: 10px 0px 40px;
  font-size: 30px;
}
.footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.form{
  margin-bottom: 20px;
  text-align: center;
}
.list input{
  outline: none;
}
h5{
  display: flex;
  justify-content: space-between;
}
.task button{
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
  margin-left: 10px;
}






@media screen and (max-width: 480px) {
  .header{
      margin: 20px 0px 50px;
      font-size: 35px;
  }
  .footer{
      bottom: 20px;
  }
}